{% extends 'base.html' %}
{% block body %}
{{question.title}}<hr>
{{question.content1}}<hr>
{{question.content2}}<hr>
<a href="{% url 'questions:delete' question.id %}">delete</a>
<a href="{% url 'questions:update' question.id%}">update</a>
<a href="{% url 'questions:index'%}">home</a>
<hr>
<form action="{% url 'questions:comment_create' question.id %}" method="POST">
    {% csrf_token%}
    {{form}}
    <input type="submit">
</form>

{% for comment in comments %}
    <li>{{comment.comment}}</li>
    <!-- comment(for문 돌려 나온 comment).comment(컬럼) -->
    <a href="{% url 'questions:comment_delete' question.id comment.id %}">delete</a>
{% endfor %}
{% endblock %}