{% extends 'base.html' %}
{% block body %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-bg-danger mb-3" style="min-height: 300px;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title" style="font-size: 2.5rem; font-weight:bold;">{{question.content1}}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-bg-primary mb-3" style="min-height: 300px;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h5 class="card-title" style="font-size: 2.5rem; font-weight:bold;">{{question.content2}}</h5>
                </div>
            </div>
        </div>
    </div>

<hr>
<a href="{% url 'questions:delete' question.id %}">
    <button type="button" class="btn btn-outline-danger">delete</button></a>
<a href="{% url 'questions:update' question.id %}">
    <button type="button" class="btn btn-outline-success">update</button></a>
<a href="{% url 'questions:index'%}">
    <button type="button" class="btn btn-outline-primary">home</button></a>
<hr>
<form action="{% url 'questions:comment_create' question.id %}" method="POST">
    {% csrf_token%}
    {{form}}
    <input type="submit">
</form>

{% for comment in comments %}
    <li>{{comment.comment}}</li>
    <!-- comment(for문 돌려 나온 comment).comment(컬럼) -->
    <a href="{% url 'questions:comment_delete' question.id comment.id %}">delete</a>
{% endfor %}
{% endblock %}